@media (max-width: 992px) {

  .nav__item:not(:last-child) {
    margin-right: 57px;
  }

  .hero {
    padding-top: 15px;
    padding-bottom: 21px;
  }

  .hero__title {
    margin-bottom: 17px;
    font-size: 50px;
  }

  .hero__image {
    background-image: url(../img/hero-img-tablet.png);
    background-position: center 104px;
    background-size: 331px 349px;
    background-repeat: no-repeat;
  }

  .advantages {
    padding-top: 80px;
    padding-bottom: 76px;
  }

  .advantages__image {
    min-width: 211px;
    min-height: 187px;
  }

  .advantages__item {
    padding-top: 91px;
    padding-left: 0;
    background-position: top left;
  }

  .teachers {
    padding: 73px 0 51px;
  }

  .teachers__item {
    padding-bottom: 23px;
  }

  .teachers__descr {
    width: 101%;
  }

  .courses {
    padding-bottom: 50px;
  }

  .courses__title {
    margin-bottom: 25px;
  }

  .courses__item {
    padding-top: 210px;
    padding-left: 31px;
    min-height: 556px;
    height: 100%;
  }

  .courses__item--img1 {
    background-image: url(../img/courses-1-tablet.png);
  }

  .courses__item--img2 {
    background-image: url(../img/courses-2-tablet.png);
  }

  .courses__item--img3 {
    background-image: url(../img/courses-3-tablet.png);
  }

  .courses__item--img4 {
    background-image: url(../img/courses-4-tablet.png);
  }

  .courses__link {
    margin-top: auto;
  }

  .courses__link {
    padding: 20.5px 55px;
  }

  .courses__item::before {
    right: 21px;
  }

}

@media (max-width: 768px) {

  .header {
    padding: 29px 0;
  }

  .header__col {
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 29px;
  }

  .hero {
    padding-bottom: 73px;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__descr {
    margin-bottom: 62px;
    max-width: 70%;
  }

  .hero__col {
    padding: 63px 15px;
  }

  .hero__image {
    display: none;
  }

  .advantages {
    padding-top: 80px;
    padding-bottom: 55px;
  }

  .advantages__image {
    min-width: 150px;
    min-height: 134px;
    background-position: left top;
  }

  .courses__item {
    min-height: 653px;
    padding-left: 30px;
    padding-right: 25px;
  }


  .courses__item--img1 {
    background-image: url(../img/courses-1-small.png);
  }

  .courses__item--img2 {
    background-image: url(../img/courses-2-small.png);
  }

  .courses__item--img3 {
    background-image: url(../img/courses-3-small.png);
  }

  .courses__item--img4 {
    background-image: url(../img/courses-4-small.png);
  }

  .courses__subtitle {
    line-height: 135%;
  }

  .courses__link {
    padding: 20.5px 48px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 20px;
  }

  .header {
    padding: 25px 0;
  }

  .header__logo {
    margin-bottom: 22px;
  }

  .header__nav {
    width: 100%;
  }

  .nav__list {
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .hero {
    padding-bottom: 0;
  }

  .hero__col {
    padding-top: 36px;
    padding-bottom: 50px;
  }

  .hero__title {
    margin-bottom: 4px;
    font-size: 30px;
  }

  .hero__descr {
    margin-bottom: 46px;
    max-width: 100%;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 20.5px 53.5px;
    font-size: 16px;
  }

  .advantages {
    padding-top: 51px;
    padding-bottom: 20px;
  }

  .advantages__image {
    display: none;
  }

  .advantages__title {
    margin-bottom: 1px;
    line-height: 130%;
  }

  .advantages__item {
    margin-bottom: 30px;
    padding-top: 0;
    padding-left: 110px;
    background-position: left;
  }

  .teachers {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .teachers__title {
    margin-bottom: 26px
  }

  .courses {
    padding-top: 47px;
    padding-bottom: 20px;
  }

  .courses__item--img1 {
    background-image: url(../img/courses-1-mobile.png);
  }

  .courses__item--img2 {
    background-image: url(../img/courses-2-mobile.png);
  }

  .courses__item--img3 {
    background-image: url(../img/courses-3-mobile.png);
  }

  .courses__item--img4 {
    background-image: url(../img/courses-4-mobile.png);
  }

  .courses__title {
    margin-bottom: 26px;
  }

  .courses__subtitle {
    margin-bottom: 8px;
  }

  .courses__link {
    padding: 20.5px 56px;
  }
}
